@font-face{
    font-family: fontGame;
    src:url(../../asset/Pony.ttf)
}
.bgGame{
    background-image: url("/src/asset/bgGame.png");
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: fontGame;
}
h1{
    font-size: 50px;
}