.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    padding-top: 60px;
    top:0;
    left:0;
    border-right:3px solid  #ced4da;
}
 .list{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}
.li{
border: 1px solid #ced4da;
padding:10px 10px;
border-radius: 3px;
}